SIGNAL_CLI_API_URL: "http://127.0.0.1:8080/v2/send"  # Signal-cli REST API endpoint
SIGNAL_ACCOUNT: "+14445556666"  # Phone number to send from
SMTP_PORT: 1025  # Port to listen for SMTP connections
REQUIRE_TLS: True
USER_CREDENTIALS:
  doorbell: "12345"
RECIPIENT_MAP:
  group_1: "group.abcd1234"
  group_2: "group.efgh5678"
